
<!--<html lang="en">-->
<!--<head>-->
<!--  <meta charset="UTF-8">-->
<!--  <meta name="viewport"-->
<!--        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">-->
<!--  <meta http-equiv="X-UA-Compatible" content="ie=edge">-->
<!--  <title>Login page</title>-->
<!--</head>-->

<!--<body style="background: blanchedalmond">-->


<!--  <h2  style="text-align: center">Enter If you want to log in !</h2>-->
<!--    <form method="post" style="text-align: center" >-->
<!--      {% csrf_token %}-->
<!--      {{ form.as_p }}-->
<!--     <button style="background:  blueviolet" type="submit">Log In</button>-->
<!--    </form>-->
<!--</body>-->
<!--</html>-->
{% load static%}
<html lang="en" >
<head>
  <meta charset="UTF-8">
  <title>Log in Page </title>
  <link rel='stylesheet' href='https://use.fontawesome.com/releases/v5.2.0/css/all.css'>
  <link rel='stylesheet' href='https://use.fontawesome.com/releases/v5.2.0/css/fontawesome.css'><link rel="stylesheet" href="{% static 'dist/style.css' %}">
</head>
<body>

<div class="container">
	<div class="screen">
		<div class="screen__content" >
			<form method="post" class="login">
					    <h1>{% csrf_token %}</h1>
				 		<h1> {{ form.as_p }}</h1>

					<button  class="button login__submit" type="submit">
					  <span  class="button__text" >Log In </span>
					  <i class="button__icon fas fa-chevron-right"></i>
					 </button>

			</form>
			<div class="social-login">
				<h3>log in via</h3>
				<div class="social-icons">
					<a href="https://www.instagram.com" class="social-login__icon fab fa-instagram"></a>
					<a href="https://facebook.com" class="social-login__icon fab fa-facebook"></a>
					<a href="https://twitter.com" class="social-login__icon fab fa-twitter"></a>
				</div>
			</div>
		</div>
		<div class="screen__background">
			<span class="screen__background__shape screen__background__shape4"></span>
			<span class="screen__background__shape screen__background__shape3"></span>
			<span class="screen__background__shape screen__background__shape2"></span>
			<span class="screen__background__shape screen__background__shape1"></span>
		</div>
	</div>
</div>


</body>
</html>





